@use '../../scss/' as *;
.project{
    background-color: #000;
    &__container{
        max-width: $default-width;
        margin: 0 auto;
        padding: 50px 0;
        @include tablet {
            max-width: $width-tablet;
        }
        @include mobile{
            max-width: $width-mobile;
        }
    }

    &__header{
        color: #fff;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        padding: 100px 0;

        &__ef{
            -webkit-text-fill-color: transparent;
            background: $second-background;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }

    &__list{
        color: #fff;

    }
    &__navigation{
        padding-top: 2rem;
        &__list{
            @include flex(center,center);
        }

        &__item{
            color: #fff;
            margin: 0 10px;
            font-size: 1.8rem;
            border-radius: 50%;
            border: 1px solid #fff;
            @include flex(center, center);
            padding: 20px;
            height: 1rem;
            width: 1rem;
            transition: all 0.2s ease-in-out;
            &.active{
                background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
                    border: none;
                    transform: scale(0.8, 0.8);
            }
            &:hover{
                cursor: pointer;
                background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
                border: none;
                transform: scale(0.8,0.8);
            }
        }
    }
}

.list-project{
   
}

.item-project{
    margin: 30px 0;
    @include tablet {
        margin: 0;
        margin-bottom: 100px;

    }
    &__src{
        cursor: pointer;
        z-index: 1;
    }
    &__left:hover &__video{
        opacity: 1;
        z-index: 2;
    }
    &__video{
        z-index: -1;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;
        // &.active{
        //     opacity: 0.7;
        // }
    }
    &__container{
        display: flex;
        @include mobile{
            flex-direction: column;
        }
    }

    &__left{
        position: relative;
        flex:5;
        border-radius: 5px;
        overflow: hidden;
    }
    &__right{
        flex: 4;
        padding: 50px;
        padding-top: 0;
        margin: 25px 0;
        @include tablet{
            margin: 0;
        }
        @include mobile{
            padding-top: 35px;
        }
    }
    &__div{
        flex: 2;
        @include tablet {
            flex: 0;
        }
    }

    &__title{
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 25px;
    }

    &__desc{
        opacity: 0.7;
    }
    &__buttons{
        margin-top: 25px;
    }
}

.reverse{
    flex-direction: row-reverse;
    @include tablet {
        flex-direction: row;
    }
    @include mobile {
        flex-direction: column;
    }
}