@use '../../scss/' as *;
.home{
    padding-top: $header-height-shrink;
    height: calc(100% + $header-height);
    
    &__skill{
        // padding-top: $header-height;
        max-width: $default-width;
        margin: 0 auto;
        padding: 50px 0;
        @include tablet {
            max-width: $width-tablet;
        }
        @include mobile{
            max-width: $width-mobile;
        }
        
    }
    &__container{
        display: flex;
        padding: 100px 0;
        max-width: $default-width;
        margin: 0 auto;
        @include tablet{
            max-width: $width-tablet;
        }
        @include mobile{
            max-width: $width-mobile;
            padding: 50px 0;
        }
    }

    &__left{
        flex: 1;

        &__welcome{
            // padding: 10px 0;
            margin-bottom: 40px;
            &__text{
                padding: 10px 20px;
                border: 1px solid #fff;
                color: #fff;
                background: $primay-background;
                font-weight: bold;
                font-size: 2rem;
            }
        }

        &__title{
            font-weight: 700;
            color: #fff;
            font-size: 6rem;
            line-height: 8rem;
            margin-bottom: 40px;
        }

        &__info{
            display: block;
            color: #fff;
            opacity: 0.7;
            font-family: 400;
            letter-spacing: .1rem;
            font-size: 1.8rem;
            line-height: 2.5rem;
            margin-bottom: 40px;
        }

        &__btn{
          
            
        }
    }

    &__right{
        flex: 1;
        @include mobile{
            display: none;
        }
        &__container{
            padding: 0 100px;
        }

        &__img{
            animation: upDown 4s ease-in-out infinite;
        }
    }
}


@keyframes upDown {
            0% {
                transform: translateY(-20px);
            }
    
            50% {
                transform: translateY(20px);
            }
    
            100% {
                transform: translateY(-20px);
            }
}