@use '../../scss/' as *;
.contact{
    padding: 20px 0;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);;
    &__button{
        margin-top: 30px;
        @include mobile{
            & button{
                width: 100%;
            }
        }
    }
    &__container{
        padding: 100px 0;
        max-width: $default-width;
        margin: 0 auto;
        display: flex;
        @include mobile{
            max-width: $width-mobile;
        }
        @include tablet{
            max-width: $width-tablet;
        }
    }

    &__left{
        flex:5;
        @include mobile{
            display: none;
        }
    }

    &__div{
        flex: 1;
    }

    &__right{
         flex:6;   
    }

    &__title{
        color:#fff;
        font-size: 4rem;
        font-weight: bold;
        padding-bottom: 30px;
    }

    &__form{
        &__container{
            padding: 5px 0;
            display: flex;
        }

        &__input{
            flex: 1;
            background: rgba(255, 255, 255, 0.1);
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 22px 26px;
            margin-right: 10px;
            border-radius:12px;
            font-size: 1.6rem;
            transition: all 0.5s linear;
            &::placeholder{
                color: #fff;
            }

            &:focus{
                background-color: #fff;
                border: 1px solid #121212;
                outline: 2px solid #fff;   
            }

            &:focus::placeholder{
                color: #000;
            }
             &__error{
                color: rgb(255, 25, 25);
                font-size: 1.2rem;
                padding-top: 5px;
                font-weight: bold;
            
            }

           
        }
    }
}


.alert {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #f2f2f2;
}

.alert button {
    margin-left: 10px;
}