$black: #2d2d2d;
$white: #fff;
$text-color: #303030;
$primay-background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
$second-background: linear-gradient(90.21deg, rgba(170, 54, 124, 1) -5.91%, rgba(74, 47, 189, 1) 111.58%);

$default-width: 1300px;
$mobile-width: 600px;
$tablet-width: 1024px;

$header-height: 115px;
$header-height-tablet: 69px;
$header-padding: 47px;
$header-height-shrink: 100px;
$header-height-shrink-tablet: 69px;

$font-family: 'Manrope',sans-serif;

$width-tablet: 768px;
$width-mobile: 300px;